/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

.wrapper {
    width: 90%;
    margin: 0 5%;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #1BA6C2 url("/images/top.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

a:link {
  color: #1BA6C2;
}

a:visited {
    color: #1BA6C2;
}

a:hover {
    color: #A9B2B0;   
    text-decoration: underline;
}

.header-container a,
.footer-container a,
.main aside a {
    color: white;
}

.header-container a:visited,
.footer-container a:visited,
.main aside a:visited {
    color: #747474;
}

.header-container a:hover,
.footer-container a:hover,
.main aside a:hover {
    color: #335564;
}

h1, h2, h3, h4 {
    font-family: 'Cutive Mono', monospace;
    width: 400px;
}   

h1.title { 
    font-size: 30px; max-width: 400px;
    color: #ffffff;
}

noscript p {
    background-color: #1BA6C2;
    color: #ffffff;
    font-style: italic;
    max-width: 100%;
    height: auto;
	padding: 5px;
	margin-top: 5px;
}  

noscript a:link {
    color: #ffffff;
}  
	
img {
	background-color: #1BA6C2;
	color: #ffffff;
	font-style: italic;
	max-width: 100%;
	height: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: calc(10vh - 175px);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A9B2B0;
    margin: 1em 0;
    padding: 0;
}

.center {
  margin: 0 auto;
  width: 100px;
}

img.arrow-prev {
    background-color: transparent;
    display: block;
    margin-top: 5px;
    margin-bottom: -35px;
}

img.arrow-next {
    background-color: transparent;
}

ol li, ul li {
    padding-bottom: 10px;
    list-style-type: none;
}

h3, p { 
    display:inline; 
}

#email {
    background-color: #85CBDB;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;    
}

input[type="text"], input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    height: 25px;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

/* ===================
    INDEX.HTML: Blues Theme
   =================== */

.header-container {
    border-bottom: 20px solid #1BA6C2;
}

.footer-container,
.main aside {
    border-top: 20px solid #1BA6C2;
}

.header-container,
.footer-container,
.main aside {
    background: #85CBDB;
}


/* ===================
    googlegroups.html theme - Star Wars
   =================== */

body#googlegroups {
    background-image: url('../images/bg-stars.jpg');
    background-size: cover;
}

body#googlegroups .main-container {
    color: #fff;
}

body#googlegroups aside, body#googlegroups .header-container {
    box-shadow: none;
}

#googlegroups .header-container {
    background: #808080;
    border-bottom: 20px solid #4b4b4b;
}

#googlegroups aside {
    background: #808080;
    border-bottom: 20px solid #4b4b4b;
    border-top: 20px solid #4b4b4b;
}

#googlegroups .footer-container {
    background: #808080;
    border-top: 20px solid #4b4b4b;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

#googlegroups nav a {
    background: #4a47b9;
}




/* ===================
    facebook.html theme
   =================== */

#facebook
.header-container,
#facebook 
.footer-container,
#facebook
.main aside { 
    background: #3b5998;
}

#facebook .footer-container,
#facebook .main aside {
    border-top: 20px solid #ffad00;
}

#facebook aside { padding: 0px; width: 340px;}

#facebook .header-container {
    border-bottom: 20px solid #ffad00;
}

#facebook nav a {
    background: #ffad00;
    color: #fff;
}



/* ===================
    mailchimp.html theme
   =================== */



/* ===================
    slack.html theme
   =================== */


/* ===================
    tinyletter.html theme
   =================== */



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0px;
    padding: 0px 0px 110px 0px;
    list-style-type: none;
}

nav a {
    display: inline;
    text-align: center;
    background: #1BA6C2;
}

nav a:hover {
    color: #747474;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn {
    color: #fff;
    padding: 10px;
    border: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.btn.facebook {
    background: #3b5998;
}

.btn.normal {
    background: #0F9D58;
}

a { text-decoration: none;}


/* ==========================================================================
   jCarousel style - Set a width here to define how much items are visible.
   The width can be either fixed in px or flexible in %.
   Position must be relative!
   ========================================================================== */

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0px 0px -30px 0px;
}

/* ==========================================================================
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
========================================================================== */

.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
These are the item (list) elements. jCarousel works best if the items
have a fixed width and height (but it's not required).
========================================================================== */

.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    width: 600px;
    height: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width: 600px) {
    .main aside {
        visibility: hidden;
        display: none;
    }
}


@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 27px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
   

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }
 
    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
